.nt-aboutCSSL-section-wrapper {
  padding: 60px;
  background: url('../img/aboutCSSL/cssl-bg.png') center center / cover no-repeat;
}

.nt-aboutCSSL-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.nt-aboutCSSL-image-wrapper {
  flex: 1 1 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nt-aboutCSSL-logo {
  width: 60%;
  height: auto;
}

.nt-aboutCSSL-content-wrapper {
  flex: 1 1 75%;
}

.nt-aboutCSSL-content {
  text-align: left;
}

.nt-aboutCSSL-description {
  font-size: 13px;
  color: var(--light-gray);
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .nt-aboutCSSL-section-wrapper {
    padding: 30px;
  }

  .nt-aboutCSSL-container {
    flex-direction: column;
    align-items: center;
  }

  .nt-aboutCSSL-content-wrapper {
    flex: 1 1 100%;
    padding-top: 30px;
  }

  .nt-aboutCSSL-logo {
    width: 60%;
    height: auto;
  }

}