.nt-awards-section-wrapper {
  padding: 60px;
  background: url('../img/awards/main-bg.jpg') center center / cover no-repeat;
}

.nt-awards-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nt-awards-header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nt-awards-subtitle {
  color: var(--gray);
  font-size: 15px;
  font-weight: 500;
}

.nt-awards-description {
  font-size: 13px;
  color: var(--light-gray);
}

.nt-awards-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nt-apply-now-btn {
  background: transparent;
  color: var(--dark-blue) !important;
  border: 2px solid var(--dark-blue);
  border-radius: 25px;
  padding: 10px 24px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  width: auto;
}

.nt-view-more-btn {
  background: var(--dark-blue);
  color: var(--white) !important;
  border: 2px solid var(--dark-blue);
  border-radius: 25px;
  padding: 10px 24px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  width: auto;
}

.nt-award-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 240px;
  gap: 10px;
}

.nt-award-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-blue);
}

.nt-award-types-list {
  list-style: none;
  padding: 0 0 15px 0;
}

.nt-award-types-list li {
  font-size: 13px;
  color: var(--light-gray);
  padding-left: 15px;
  position: relative;
}

.nt-award-types-list li::before {
  content: "\2022";
  color: var(--dark-blue);
  font-weight: bold;
  position: absolute;
  left: 0;
}

@media (max-width: 768px) {
  .nt-awards-section-wrapper {
    padding: 40px 20px 20px 20px;
  }
}