.nt-navbar {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 30px auto;
  height: 70px;
  padding: 0 70px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  gap: 70px;
} 

.nt-hero-logo {
  width: 80px;
  height: auto;
  display: block;
}

.nt-navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 50px;
}

.nt-nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.nt-nav-link {
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: relative;
  transition: color 0.2s;
}

.nt-nav-link:hover, .nt-active {
  color: var(--purple) !important;
  text-decoration: underline !important;
}

.nt-nav-actions {
  display: flex;
  gap: 12px;
}

.nt-btn {
  font-size: 13px;
  padding: 5px 22px;
  border-radius: 25px;
  border: 2px solid var(--black);
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.nt-btn-filled {
  background: var(--black);
  color: var(--white);
  border: 2px solid var(--black);
}

.nt-btn-filled:hover {
  background: var(--purple);
  border-color: var(--purple);
}

.nt-btn-outlined {
  background: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
}

.nt-btn-outlined:hover {
  background: #f3f3f3;
  color: var(--purple);
  border-color: var(--purple);
}

.nt-nav-icon {
  display: none;
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
  position: fixed;
  z-index: 200;
  margin: 20px;
}

@media (max-width: 900px) {
  .nt-navbar {
    display: none;
  }

  .nt-nav-icon {
    display: block;
  }
}
