.nt-schedule-title-section-wrapper {
    background-image: 
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.31) 0%,
      rgba(46, 50, 146, 0.8) 100%
    ),
    url(../img/pricing-schedule-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 70px;
}

.nt-schedule-section-title {
    text-transform: uppercase;
    line-height: 30px !important;
}

.nt-sub-title {
    color: var(--white);
    font-size: 15px;
    margin-bottom: 30px;
    text-align: left;
}

.nt-schedule-section-btn {
    background-color: transcparent;
    color: var(--white);
    border: 2px solid var(--white);
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px;
}

.nt-schedule-section-btn:hover{
    color: var(--dark-blue);
    background-color: var(--white);
}

.nt-schedule-content-wrapper {
    background: url(../img/schedule/background-img.jpg) center center / cover no-repeat;
    padding: 40px;
}

.schedule-section-title-mobile-view {
  display: none;
}

.nt-schedule-nav-tabs {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  border-bottom: none;
  margin-top: 1.5rem;
}

.nt-schedule-nav-item {
  border-radius: 15px;
  padding: 0px 10px;
}

.nt-schedule-nav-item-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nt-schedule-nav-item-date {
  font-size: 15px;
  font-weight: 500;
}

.nt-schedule-nav-item-title {
  font-size: 18px;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-weight: 600;
}

.nt-schedule-nav-item-time {
  font-size: 13px;
}

.nt-active-item {
  border-bottom: 5px solid var(--dark-blue);
}

@media (max-width: 600px) {
  .nt-schedule-title-section-wrapper {
    display: none;
  }

  .nt-schedule-content-wrapper {
    padding: 40px 20px 20px 20px;
  }

  .schedule-section-title-mobile-view {
    display: block;
    text-align: center;
  }

  .nt-schedule-nav-item {
    margin-right: 0px;
    padding: 0px;
    line-height: 15px;
    border: 1px solid var(--dark-blue);
  }

  .nt-active-item {
    border-bottom: 5px solid var(--dark-blue);
  }

  .nt-schedule-nav-item-date, .nt-schedule-nav-item-title, .nt-schedule-nav-item-time {
    font-size: 10px;
    text-align: left;
  }
}